@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" charset="utf-8" />
	<title>Страница Index</title>
</head>
<body>
	<p>Привет всем!!!</p>
	<hr />
	<a asp-controller="Employes" asp-action="Index">Управление сотрудниками</a>
</body>
</html>