@model WebStore.Models.Employee


<h3>Карточка сотрудника</h3>
<table class="table table-hover">
	<tbody>
		<tr>
			<td><b>Фамилия:</b></td>
			<td>@Model.SurName</td>
		</tr>
		<tr>
			<td><b>Имя:</b></td>
			<td>@Model.FirstName</b></td>
		</tr>
		<tr>
			<td><b>Отчество:</td>
			<td>@Model.Patronymic</b></td>
		</tr>
		<tr>
			<td><b>Возраст:</td>
			<td>@Model.Age</td>
		</tr>

	</tbody>
</table>

<a asp-controller="Employes" asp-action="Index">К списку сотрудников</a>
