
@{
    ViewData["Title"] = "Заказ оформлен";
}

<h2>Заказ оформлен</h2>

<p>Заказ @ViewBag.OrderId оформлен и уже находится на обработке.</p>

<a asp-area="Admin" asp-controller="Home" asp-action="Index">Назад</a>