<html>

<head>
	<meta charset="UTF-8">
	<title>eShop</title>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
	<div id="app" class="container">
		<error-message :message="message" @close="closeError" v-if="isVisibleError"></error-message>
		<header>
			<search-form v-model="searchLine" @filter="filterGoods"></search-form>
			<button class="cart-button" @click="cartButton_OnClick">Корзина</button>
		</header>
		<main>
			<cart :cart="cart" v-if="isVisibleCart"></cart>
			<h2>Каталог</h2>
			<goods-list :goods="filteredGoods" @add-to-cart="addToCart"></goods-list>
		</main>
	</div>
	<script src="dist/build.js"></script>
</body>

</html>
